@import url(https://fonts.googleapis.com/css?family=Fira+Sans:100,200,300,regular,italic,500,600,700,800);

:root {
    font-family: 'Fira Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    background: linear-gradient(90deg, #2757af, #5616bd);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 100vh;
    border-radius: 10px;
    box-shadow: inset 0 0 50px rgba(255, 255, 255, 0.5);
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;

}
h1 {
    font-size: 3em;
    font-weight: 800;
    margin: 10px;
    text-align: center;
}
.coffeebeans {
    width: 100px;
}
.demonstration {
    margin-top: 10px;
}
#navbar {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 10px;
    /* border: 1px solid white; */

}
#navbar > ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

a {
    text-decoration: underline;
    color: white;
    font-size: 1.5em;
    font-weight: 500;
    transition: 0.3s;
}

#about {
    width: 70%;
}
#menu-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 20px;
    width: 90%;

}
.menu-item {
    margin-bottom: 20px;
  }
  .menu-item h2 {
    margin: 0;
  }
  .menu-item p {
    margin: 5px 0;
  }
  .menu-item span {
    font-weight: bold;
  }
  form {
    max-width: 300px;
    /* margin: auto; */
  }
  label {
    display: block;
    margin-bottom: 5px;
  }
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
  }
  button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
  }
  .message {
    margin-top: 20px;
    text-align: center;
  }
  .order {
    border: 2px solid #c072d8;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  .order h2 {
    margin: 0;
  }
  .order p {
    margin: 5px 0;
  }
  .order span {
    font-weight: bold;
  }
  .total {
    font-weight: bold;
    font-size: 30px;
  }